SUPABASE_DB_PASSWORD=xxxxxxx


# https://supabase.com/dashboard
NEXT_PUBLIC_SUPABASE_URL=https://xxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxxxxxx

SUPABASE_SERVICE_ROLE_KEY=XXXX

# https://resend.com/api-keys
RESEND_API_KEY=re_xxxx

# App base URL
NEXT_PUBLIC_APP_URL=http://localhost:3000